@import 'reset';
@import 'ph';

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 1rem;

  background-image: url(https://geant3plus.archive.geant.net/Resources/PartnerResources/Partner%20Resources%20Image%20Library/Image%2020_000003529661.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.drums {
  @extend %fs0;
}

.drums__el {
  @extend %dib;
  @extend %vam;

  width: 80px;
  height: 80px;
  line-height: normal;
  border-radius: 5px;
  border: 3px solid #000;
  text-transform: uppercase;
  transition: .07s;
  background-color: fade-out(#333, .1);
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  p {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #fff;
  }

  span {
    color: yellow;
    font-size: .8rem;
  }
}

.play {
  box-shadow: 0 0 1px 3px yellow;
  transform: scale(1.1);
}
